@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;
}
h1, h2{
    font-family: 'Anton', sans-serif;
}
a{
    color: grey;
    text-decoration: none;
}
h1{
    text-align: center;
    font-size: 52px;
    margin-bottom: 20px;
}
p{
    font-size: 22px;
}
header{
    z-index: 100;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 60%;
    padding: 10px;
    background-color: white;
    border-radius: 40px;
    margin-top: 20px;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
nav{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.actual-page{
    color: black;
    font-weight: 600;
}
header img{
    height: 70px;
}

main{
    margin-top: -120px;
    width: 90%;
}
.first{
    display: flex;
    justify-content: center;

    background-image: url("background/index-first.webp");
    background-size:cover;
    background-position:center center;
}
.second{
    display: flex;
    justify-content: center;

    background-image: url("background/index-second.jpeg");
    background-size: cover;
    background-position: center center;
    margin: -200px 0;
    

    -webkit-clip-path: polygon(0 200px, 100% 0%, 100% calc(100% - 200px), 0% 100%);
    clip-path: polygon(0 200px, 100% 0%, 100% calc(100% - 200px), 0% 100%);
}
.third{
    display: flex;
    justify-content: center;

    background-image: url("background/index-third.webp");
    background-size:cover;
    background-position:center center;
}
.first, .third{
    padding: 300px 32px;
}
.second{
    padding: 400px 32px;
}
section{
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    padding: 20px;  
}

.box{  
    transform: translateX(400%);
    transition: transform 0.7s ease;;
}
.box.show{
    transform: translateX(0);
}

section img{
    width: 150px;
    margin:0 50px;
    border-radius: 10px;
    transition: .3s;
}
section a{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: white;
}
section img:hover{
    scale: 1.1;
}
.button {
    background:transparent;
    padding:12px 24px;
    border:solid 2px white;
    display:inline-block;
    position: relative;
    overflow: hidden;
    transition: all .4s;
  }
  
  .button:before {
    content:'';
    position:absolute;
    z-index: -1;
    background:white;
    left:-12px;
    top:-12px;
    width:0%;
    height:calc(100% + 24px);
    transition: all .4s;
    transform: skew(24deg);
  }
  
  .button:hover:before {
    width:calc(100% + 24px);
  }
  
  
  .button:hover {
    cursor:pointer;
    color:black;
  }
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin-top: -50px;
    width: 60%;

    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(10px);
}
footer p{
    font-size: 16px;
}
